* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    cursor: default;
}

h1 {
    margin: 10px;
    margin-left: 2.5%;
    color: #393939;
}

input {
    display: block;
    width: 95%;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

input::placeholder {
    color: lightgrey;
}

button {
    margin-left: 2.5%;
    height: 30px;
    padding: 5px 10px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
}